@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

/* Definición del tema personalizado para Tailwind v4 */
@theme {
  --color-principal: #ea580c; /* Naranja amanecer (orange-600) */
  --color-secundario: #52525b; /* Gris piedra para detalles (zinc-600) */
  --color-texto: #18181b; /* Roca volcánica,(zinc-900) */
  --color-fondo: #fafafa; /* Blanco roto/arena clara (neutral-50) */
  --font-sans: "Inter", sans-serif;
}

body {
  body {
    /* las variables nativas que Tailwind v4 */
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased; /* Suaviza los bordes de la fuente */
  }
}

/* Micro-animación para el componente Story */
.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
